<form>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input  
            ngControl="firstName" 
            #firstName="ngForm"  
            id="firstName" 
            type="text" 
            class="form-control" required>
        <div class="alert alert-danger" *ngIf="!firstName.valid"> First name is required.</div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea #comment="ngForm" 
            ngControl="comment" 
            id="comment" 
            cols="30" rows="10" class="form-control" required>
        </textarea>
        <div *ngIf="!comment.valid" class="alert alert-danger"> Comment is required. </div>
    </div>    
    <button class="btn btn-primary" type="submit">Submit</button>
</form>