<form #wF=ngForm (ngSubmit)="onSubmit(wF.form)">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input  
            ngControl="firstName" 
            #wFirstName="ngForm"  
            id="firstName" 
            type="text" 
            class="form-control" required
            minlength="3">
        <div *ngIf="wFirstName.touched && wFirstName.errors"> 
            <div class="alert alert-danger" 
                *ngIf="wFirstName.errors.required"> 
                First name is required.
            </div>
            <div class="alert alert-danger" 
                *ngIf="wFirstName.errors.minlength"> 
                First name should be minmum {{wFirstName.errors.minlength.requiredLength}} characters.
            </div>
        </div>     
            

    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea #wComment="ngForm" 
            ngControl="comment" 
            id="comment" 
            cols="30" rows="2" class="form-control" required>
        </textarea>
        <div *ngIf="wComment.touched && !wComment.valid" 
            class="alert alert-danger"> 
            Comment is required. 
        </div>
    </div>    
    <button class="btn btn-primary" type="submit" [disabled]="!wF.valid" >Submit</button>
</form>